@inherits LayoutComponentBase



<div class="app-wrapper">

    <!-- Topbar Start -->
    <Header />
    <!-- Topbar End -->
    <!-- App Menu Start -->

    <NavMenu />
    <!-- App Menu End -->
    <!-- ==================================================== -->
    <!-- Start right Content here -->
    <!-- ==================================================== -->
    <div class="page-content">

        @Body



        @* <footer class="footer card mb-0 rounded-0 justify-content-center align-items-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        salom
                    </div>
                </div>
            </div>
        </footer> *@
        <!-- Footer End -->

    </div>
    <!-- ==================================================== -->
    <!-- End Page Content -->
    <!-- ==================================================== -->

</div>
<script src="assets/js/app.js"></script> 
