<div class="app-sidebar">
    <!-- Sidebar Logo -->
    <div class="logo-box">
        <NavLink href="" class="logo-dark">
            <img src="assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
            <img src="assets/images/logo-dark.png" class="logo-lg" alt="logo dark">
        </NavLink>

        <a href="index.html" class="logo-light">
            <img src="assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
            <img src="assets/images/logo-light.png" class="logo-lg" alt="logo light">
        </a>
    </div>

    <div class="scrollbar" data-simplebar>

        <ul class="navbar-nav" id="navbar-nav">

            <li class="menu-title">Menu...</li>

            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:widget-2-outline"></iconify-icon>
                    </span>
                    <span class="nav-text"> Dashboard </span>
                    <span class="badge bg-primary badge-pill text-end">New</span>
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:chart-square-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> Jihozlar kategoriyalari </span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="types" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:checklist-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> Jihozlar turlari </span>
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="equipments" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:box-outline"></iconify-icon>
                    </span>
                    <span class="nav-text"> Jihozlar </span>
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:user-circle-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> Foydalanuvchilar </span>
                </NavLink>
            </li>



            <li class="nav-item">
                <NavLink class="nav-link" href="departments" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:map-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> Binolar </span>
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="rooms" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:map-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> Xonalar </span>
                </NavLink>
            </li>


            <li class="nav-item">
                <NavLink class="nav-link" href="parameters" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:window-frame-outline"></iconify-icon>


                    </span>
                    <span class="nav-text"> Parameterlar </span>
                </NavLink>
            </li>


            <li class="nav-item">
                <NavLink class="nav-link" href="trashes" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:library-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> O'chirilganlar </span>
                </NavLink>
            </li>


            <li class="nav-item">
                <NavLink class="nav-link" href="logs" Match="NavLinkMatch.All">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:share-circle-outline"></iconify-icon>

                    </span>
                    <span class="nav-text"> Harakatlar </span>
                </NavLink>
            </li>


        </ul>
    </div>
</div>