@page "/forbidden"
@layout BlankLayout

<div class="container-xxl py-5">

     <!-- Start here.... -->

     <div class="row justify-content-center">
          <div class="col-xl-5">
               <div class="card">
                    <div class="card-body px-3 py-5">
                         <div class="p-4">
                              <div class="mx-auto mb-4 text-center">

                                   <h1 class="mb-3 fw-bold fs-60">403</h1>
                                   <h2 class="fs-22 lh-base">Kirish taqiqlangan!</h2>
                                   <p class="text-muted mt-1 mb-4">Siz ushbu sahifaga kirish huquqiga ega emassiz
                                   </p>

                                   <div class="text-center">
                                        <a href="/" class="btn btn-primary">Ortga qaytish</a>
                                   </div>
                              </div>
                         </div>
                    </div> <!-- end card-body -->
               </div> <!-- end card -->

          </div> <!-- end col -->
     </div> <!-- end row -->

</div>