@page "/statistics/users/{id:int}"









<div class="card">
     <div class="card-header">
          <h3>User bo'yicha statistika</h3>
     </div>
</div>








@code {


     [Parameter]
     public int Id { get; set; }
}