@page "/black"

<AuthorizeView  Context="authContext">
    <Authorized>
        <h3>Xush kelibsiz!</h3>
    </Authorized>
    <NotAuthorized>
        @if (!authContext.User.Identity.IsAuthenticated)
        {
            RedirectToLogin();
        }
        else
        {
            RedirectToForbidden();
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    void RedirectToLogin() => Navigation.NavigateTo("/login", true);
    void RedirectToForbidden() => Navigation.NavigateTo("/forbidden", true);
}
